.experience-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--spc-1);
}

.experience-list-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spc-4);
    width: var(--spc-full);
    padding: var(--spc-1) 0;
}

.experience-list-item-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--spc-3);
    order: 3;
}

.experience-list-item:before {
    content: '';
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-border);
    order: 2;
}

.experience-list-item-info-date {
    font-variant-numeric: tabular-nums;
}
