.primaryHeading {
    font-size: 2rem;
    line-height: 3.5rem;
}

.mdParagraph {
    font-size: 1rem;
    line-height: 1.5rem;
}

.xlHeading {
    font-size: 3.25rem;
    line-height: 3.5rem;
    letter-spacing: -2px;
}

@media (min-width: 768px) {
    .xlHeading {
        font-size: 5.75rem;
        line-height: 6rem;
    }
}

.lgHeading {
    font-size: 2rem;
    line-height: 3.5rem;
}

.mdHeading {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.smHeading {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 500;
}
