@font-face {
	font-family: "Inter";
	src: url("/fonts/inter.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	src: url("/fonts/geist-mono.ttf") format("truetype");
	font-display: swap;
}
