:root {
    --color-black: #202020;
    --color-gray: #6a6a6a;
    --color-text-error: #ff0000;
    --color-white: #fcfcfc;
    --color-off-white: #f0f0f0;
    --color-border-dark: #cecece;
    --color-border-light: #e8e8ec;
    --color-accent: #2723e9;
    --color-transparent: transparent;
    --color-focus: #6bc4ff;
    --color-overlay: rgba(255, 255, 255, 0.8);
    --color-white: #ffffff;
    --color-theme-indicator: #cecece;

    --default-color: #2723e9;
    --hacker-color: #00ff00;
    --nord-color: #88c0d0;
    --synthwave-color: #ffcc00;
    --night-owl-color: #c792ea;

    --font-family-sans:
        Inter, ui-sans-serif, -apple-system, 'system-ui', 'Segoe UI Variable Display', 'Segoe UI', Helvetica,
        'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-family-mono:
        'Geist Mono', ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Consolas, 'Liberation Mono', 'DejaVu Sans Mono',
        'Courier New', monospace;
}
