.writing-item {
	align-items: flex-start;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.writing-item-title {
	text-decoration-color: var(--color-link-underline);
	text-decoration-line: underline;
	text-decoration-thickness: var(--spc-px);
	text-underline-offset: 0.08em;
}

@media (min-width: 768px) {
	.writing-item {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
}
