.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spc-4);
    margin-bottom: var(--spc-32);
}
.footer-links {
    display: flex;
    flex-direction: row;
    gap: var(--spc-4);
    list-style: none;
}

.footer-link {
    text-decoration: none;
}
