.button {
    /* Resets */
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;

    /* Styles */
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    transition: filter 0.2s ease-in-out;
}

.button:hover {
    filter: brightness(1.1) saturate(105%);
}

.button:focus {
    outline: none;
    filter: brightness(1.1) saturate(110%);
}

.largeSize {
    font-size: 1.25rem;
    padding: 1.25rem 2rem;
}

.mediumSize {
    font-size: 1rem;
    padding: 1rem;
}

.smallSize {
    font-size: 0.75rem;
    padding: 0.75rem;
}

.extraSmallSize {
    font-size: 0.5rem;
    padding: 0.5rem;
}
