.container {
    align-items: center;
    border-top: 1px solid var(--primary-border-color);
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem auto 0 auto;
    padding: 2rem 1rem;
    max-width: 1300px;
    width: 100%;
}

@media (min-width: 760px) {
    .container {
        justify-content: space-between;
    }
}

.linksList {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.linksListItem a,
.linksListItem a:hover,
.linksListItem a:focus,
.linksListItem a:visited {
    color: var(--primary-color);
}

.linksListItem a:hover {
    text-decoration: underline;
}
