/* For showing the anchor for headings on hover */
h1, h2, h3, h4, h5, h6 {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

h1 .heading-anchor, h2 .heading-anchor, h3 .heading-anchor, h4 .heading-anchor, h5 .heading-anchor, h6  .heading-anchor {
    opacity: 0;
}

h1:hover .heading-anchor,h2:hover .heading-anchor,h3:hover .heading-anchor,h4:hover .heading-anchor,h5:hover .heading-anchor,h6:hover  .heading-anchor {
    opacity: 1;
    position: absolute;
    right: -4px;
    top: 50%;
    transition: opacity 0.3s linear;
    transform: translateY(-50%);
}

.heading-anchor:after {
    opacity: 0;
}

.heading-anchor .icon::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23788087' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-link'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'/%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'/%3E%3C/svg%3E");
    background-size: 100%;
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    top: -50%;
    transform: translateY(-50%);
}
