.home-hero {
    align-items: center;
    display: flex;
    border-bottom: 1px solid var(--color-ui-1);
    flex-direction: column;
    width: 100%;
}

.home-hero-text-container {
    padding: var(--spc-8);
    flex: 1 1 66%;
    border-top: 1px solid var(--color-ui-1);
}

.home-hero-image-container {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.home-hero-ascii-image {
    display: block;
}

.home-hero-full-image {
    display: none;
    opacity: 0;
}

@media (min-width: 768px) {
    .home-hero {
        flex-direction: row;
    }

    .home-hero-text-container {
        border-top: none;
    }

    .home-hero-image-container {
        margin: auto auto 0 auto;
        border-right: 1px solid var(--color-ui-1);
        flex: 1 1 33%;
    }

    .home-hero-full-image {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
    }
}
