
[data-post] h1, [data-post] h2, [data-post] h3, [data-post] h4, [data-post] h5, [data-post]  h6  {
    margin: var(--spc-10) 0 var(--spc-6) 0 ;
    line-height: 1.6rem !important;
}

[data-post] p {
    margin-block: var(--spc-4);
    line-height: 1.6rem !important;
}

[data-post] code {
    margin-block: var(--spc-2);
}

.post-container {
    padding: var(--spc-25) 0;
    max-width: 700px;  
    width: var(--spc-full);
    margin: 0 auto;
}

.post-info {
    display: flex;
    flex-direction: column;
    gap: var(--spc-4);
}

.post-info-bottom {
    align-items:  center;
    display: flex;
    gap: var(--spc-2);
}

.post-body {
    padding: var(--spc-4) 0;
}
