.postContainer {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1rem;
    width: 100%;
}

.headerContainer {
    background-color: var(--primary-color);
    padding: 4rem 0;
}

.headerContentContainer {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1rem;
    width: 100%;
}

.postTitle {
    font-size: 3.25rem;
    line-height: 3.5rem;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
    font-family: 'Playfair Display';
}

.postDate {
    opacity: 0.8;
}

.postContainer a:hover:after {
    content: '';
    transform: scaleY(2);
}

.postListContainer {
    border-top: 1px solid var(--primary-border-color);
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem 1rem;
    width: 100%;
}
