body {
    background-color: var(--color-surface-2);
    padding: var(--spc-6);
}

.post-layout {
    background-color: var(--color-surface-1);
    border-radius: var(--rnd-4);
}

.post-container {
    margin-inline: auto;
    max-width: var(--spc-text-content);
    padding-top: var(--spc-8);
    padding-bottom: var(--spc-10);
    width: var(--spc-full);
}

.post-header {
    align-items: center;
    gap: var(--spc-6);
    display: flex;
    flex-direction: column;
    margin-block: var(--spc-8);
}

[data-post] h1,
[data-post] h2,
[data-post] h3,
[data-post] h4,
[data-post] h5,
[data-post] h6 {
    margin: var(--spc-5) 0 var(--spc-4) 0;
}

[data-post] h1,
[data-post] h1 > * {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
}

[data-post] h2,
[data-post] h2 > * {
    font-size: 1.75rem !important;
    line-height: 2rem !important;
}

[data-post] h3,
[data-post] h3 > * {
    font-size: 1.5rem !important;
    line-height: 1.75rem !important;
}

[data-post] p {
    padding-block: var(--spc-2);
    line-height: 1.7rem !important;
}

[data-post] code {
    padding-block: var(--spc-2);
    font-family: var(--font-family-mono);
}

[data-post] hr {
    border-color: var(--color-border);
    border-width: 1px 0 0 0;
    margin-block: var(--spc-4);
}

[data-post] ul,
[data-post] ol {
    display: flex;
    flex-direction: column;
    margin-left: var(--spc-8);
    margin-block: var(--spc-2);
    gap: var(--spc-1);
}

[data-post] ul {
    list-style-type: disc;
}

[data-post] ol {
    list-style-type: decimal;
}

[data-post] li {
    line-height: 1.7rem !important;
}

[data-post] img {
    display: block;
    max-width: 700px;
    width: 100%;
}

[data-post] p > code {
    background-color: var(--color-surface-2);
    padding: var(--spc-1);
    border-radius: var(--rnd-2);
}
