.menuContainer {
    position: relative;
}

.menuButtonContainer {
    --menu-tranition-animation: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    height: 21px;
    position: relative;
    width: 25px;
}

.menuButtonContainerOpen {
    transform: translateX(1px);
    transition: transform 0.3s var(--menu-tranition-animation);
}

.menuButtonContainerOpen > .menuBar1 {
    transform-origin: center center;
    transform: rotate(45deg) translateY(7px) translateX(6px) scale(1);
}

.menuButtonContainerOpen > .menuBar2 {
    opacity: 0;
}

.menuButtonContainerOpen > .menuBar3 {
    transform-origin: center center;
    transform: rotate(-45deg) translateY(-7px) translateX(6px) scale(1);
}

.menuBar1 {
    display: block;
    background-color: var(--secondary-font-color);
    height: 2px;
    position: absolute;
    top: 0;
    transform: scaleX(0.8);
    transition: transform 0.3s var(--menu-tranition-animation);
    transform-origin: center left;
    width: 25px;
}

.menuBar2 {
    display: block;
    background-color: var(--secondary-font-color);
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.1s ease-in;
    width: 25px;
}

.menuBar3 {
    display: block;
    background-color: var(--secondary-font-color);
    height: 2px;
    position: absolute;
    bottom: 0;
    transform-origin: center right;
    transform: scaleX(0.8);
    transition: transform 0.3s var(--menu-tranition-animation);
    width: 25px;
}

.menu {
    background-color: var(--primary-background-color);
    border-color: var(--primary-border-color);
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    top: 4rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(168, 168, 168, 0.08) 0px 1px 1px 0px, rgba(195, 195, 195, 0.08) 0px 6px 6px 0px,
        rgba(255, 255, 255, 0.14) 0px 0.5px 8px 2px inset, rgba(255, 255, 255, 0.08) 0px -5px 0px -4px inset;
    min-width: 250px;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    transform: translateX(400px);
    right: 0;
}

.menuOpen {
    transform: translateX(0);
}

.menuList {
    list-style: none;
    margin: 0;
    padding: 1.5rem;
}

.menuList > li {
    margin-bottom: 1rem;
}

.menuList > li:last-child {
    margin-bottom: 0;
}

.menuListTitle {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.5rem !important;
}

.menuListTitleExternal:after {
    content: '';
    display: block;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5a1 1 0 1 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0V6.414l-9.293 9.293a1 1 0 0 1-1.414-1.414L17.586 5H14zM3 7a2 2 0 0 1 2-2h5a1 1 0 1 1 0 2H5v12h12v-5a1 1 0 1 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7z' fill='%23788087'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.menuList a,
.menuList a:focus,
.menuList a:visited {
    color: var(--primary-color);
}

.menuList a:hover {
    text-decoration: underline;
}

.themesContainer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--primary-border-color);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1.5rem;
}

.themeBubbleContainer {
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.themeBubble {
    appearance: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    height: 24px;
    padding: 2px;
    position: relative;
    transition: transform ease-in-out 0.3s;
    width: 24px;
}

.themeBubbleActive {
    height: 24px;
    width: 24px;
    position: absolute;
    transition: transform ease-in-out 0.3s;
}

.themeBubble:hover {
    transform: scale(1.05);
}

.themeBubbleActive:after {
    content: '';
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid var(--tertiary-background-color);
    height: calc(24px + 8px);
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(24px + 8px);
}

.colorPickerContainer :global(.react-colorful) {
    height: auto;
    width: 100px;
    margin-left: 0.5rem;
}

.colorPickerContainer :global(.react-colorful__hue) {
    border-radius: 1rem;
}

.colorPickerContainer :global(.react-colorful__pointer) {
    height: 24px;
    width: 24px;
}

.colorPickerContainer :global(.react-colorful__saturation) {
    display: none !important;
}
