

.menuButtonContainerOpen > .menuBar1 {
    transform-origin: center center;
    transform: rotate(45deg) translateY(7px) translateX(6px) scale(1);
}

.menuButtonContainerOpen > .menuBar2 {
    opacity: 0;
}

.menuButtonContainerOpen > .menuBar3 {
    transform-origin: center center;
    transform: rotate(-45deg) translateY(-7px) translateX(6px) scale(1);
}



.menuList {
    list-style: none;
    margin: 0;
    padding: 1.5rem;
}

.menuList > li {
    margin-bottom: 1rem;
}

.menuList > li:last-child {
    margin-bottom: 0;
}

.menuListTitle {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.5rem !important;
}

.menuListTitleExternal:after {
    content: '';
    display: block;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5a1 1 0 1 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0V6.414l-9.293 9.293a1 1 0 0 1-1.414-1.414L17.586 5H14zM3 7a2 2 0 0 1 2-2h5a1 1 0 1 1 0 2H5v12h12v-5a1 1 0 1 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7z' fill='%23788087'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.menuList a,
.menuList a:focus,
.menuList a:visited {
    color: var(--accent-color);
}

.menuList a:hover {
    text-decoration: underline;
}



.themeBubbleActive:after {
    content: '';
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid var(--tertiary-background-color);
    height: calc(24px + 8px);
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(24px + 8px);
}

.colorPickerContainer :global(.react-colorful) {
    height: auto;
    width: 100px;
    margin-left: 0.5rem;
}

.colorPickerContainer :global(.react-colorful__hue) {
    border-radius: 0;
}

.colorPickerContainer :global(.react-colorful__pointer) {
    border-radius: 0;
    height: 24px;
    width: 24px;
}

.colorPickerContainer :global(.react-colorful__saturation) {
    display: none !important;
}
