@import '@/tokens/colors';
@import '@/tokens/spacing';
@import '@/tokens/rounded';
@import '@/tokens/z-index';
@import '@/tokens/shadow';
@import '@/tokens/animations';

@import '@/components/lib/Heading/Heading.styles';
@import '@/components/lib/Text/Text.styles';
@import '@/components/lib/Card/Card.styles';
@import '@/components/lib/List/List.styles';
@import '@/components/shared/PostList/PostList.styles';

@import '@/components/shared/Navigation/Navigation.styles';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: var(--color-surface-1);
    color: var(--color-text-1);
    font-family: var(--font-geist-sans);
}

button,
input {
    font-family: inherit;
}

*:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}