@import '@/components/home/HomeCards/HomeCards.styles';

.home-container {
    display: flex;
    flex-direction: column;
    gap: var(--spc-8);
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spc-8) 0;
    position: relative;
}   

.posts-container {
    display: flex;
    flex-direction: column;
    gap: var(--spc-2);
}
