.contentContainer {
    background-color: white;
    border-top-color: var(--primary-border-color);
    border-top-style: solid;
    border-top-width: 2px;
    position: relative;
    z-index: 8;
}
.content {
    margin: 0 auto;
    max-width: 1300px;
    padding: 1rem;
    width: 100%;
}

.statsContainer {
    padding: 2rem 0;
}

.statsTopContainer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 1rem 1rem;
    width: 100%;
}

@media (min-width: 1300px) {
    .statsTopContainer {
        margin: 0;
        padding-left: calc((100vw - 1300px) / 2);
    }
}

.statsScrollContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: calc((100vw - 1300px) / 2);
    padding-right: 1rem;
    -webkit-overflow-scrolling: touch;
}
