.contentContainer {
    background-color: white;
    border-top-color: var(--primary-border-color);
    border-top-style: solid;
    border-top-width: 2px;
    position: relative;
    z-index: 8;
}
.statsContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1300px;
    padding: 2rem;
    width: 100%;
}
