:root {
    --color-text-1: #202020;
    --color-text-2: #646464;
    --color-surface-1: #fcfcfc;
    --color-surface-2: #f0f0f0;
    --color-border: #cecece;
    --color-accent: #2e4c46;
    --color-transparent: transparent;
}
