:root {
    --color-text-1: #202020;
    --color-text-2: #6a6a6a;
    --color-surface-1: #fcfcfc;
    --color-surface-2: #f0f0f0;
    --color-border: #cecece;
    --color-accent: #2723e9;
    --color-transparent: transparent;
    --color-focus: #6bc4ff;
    --color-overlay: rgba(255, 255, 255, 0.8);
    --color-white: #ffffff;
    --color-theme-indicator: #cecece;

    --default-color: #2723e9;
    --hacker-color: #00ff00;
    --nord-color: #88c0d0;
    --synthwave-color: #ffcc00;
    --night-owl-color: #c792ea;
}

[data-theme='hacker'] {
    --color-text-1: #00ff00;
    --color-text-2: #03a103;
    --color-surface-1: #000000;
    --color-surface-2: #000000;
    --color-border: #00ff00;
    --color-accent: #00ff00;
    --color-focus: #00ffff;
    --color-overlay: rgba(0, 0, 0, 0.8);
    --color-theme-indicator: #ffffff;
}

[data-theme='nord'] {
    --color-text-1: #d8dee9;
    --color-text-2: #81a1c1;
    --color-surface-1: #2e3440;
    --color-surface-2: #3b4252;
    --color-border: #4c566a;
    --color-accent: #88c0d0;
    --color-focus: #ebcb8b;
    --color-overlay: rgba(46, 52, 64, 0.85);
    --color-theme-indicator: #ffffff;
}

[data-theme='synthwave'] {
    --color-text-1: #f8f8f2;
    --color-text-2: #ff9ac1;
    --color-surface-1: #2a2139;
    --color-surface-2: #3d2b56;
    --color-border: #ff007c;
    --color-accent: #ffcc00;
    --color-focus: #00ffff;
    --color-overlay: rgba(42, 33, 57, 0.85);
    --color-theme-indicator: #ffffff;
}

[data-theme='night-owl'] {
    --color-text-1: #d6deeb;
    --color-text-2: #82aaff;
    --color-surface-1: #011627;
    --color-surface-2: #1d3b53;
    --color-border: #4b6479;
    --color-accent: #c792ea;
    --color-focus: #ecc48d;
    --color-overlay: rgba(1, 22, 39, 0.8);
    --color-theme-indicator: #ffffff;
}
