:root {
    --color-text-1: #202020;
    --color-text-2: #646464;
    --color-surface-1: #fcfcfc;
    --color-surface-2: #f0f0f0;
    --color-border: #cecece;
    --color-accent: #2e4c46;
    --color-transparent: transparent;
    --color-focus: #6bc4ff;
    --color-overlay: rgba(255, 255, 255, 0.8);
}

[data-theme="hacker"] {
    --color-text-1: #00ff00;
    --color-text-2: #03a103;
    --color-surface-1: #000000;
    --color-surface-2: #000000;
    --color-border: #00ff00;
    --color-accent: #00ff00;
    --color-focus: #00FFFF;
    --color-overlay: rgba(0, 0, 0, 0.8);
}


