.horizontal-scroll-container {
    position: relative;
    width: 100%;
}

.horizontal-scroll-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color-surface-1));
}

.horizontal-scroll-container-items {
    overflow-x: auto;
    width: 100%;
}

.horizontal-scroll-container-items > *:last-child {
    margin-right: var(--spc-12) !important;
}
