.post-layout {
    border: 1px solid var(--color-ui-1);
    max-width: var(--spc-text-content);
    width: var(--spc-full);
    margin: 0 auto;
}

.post-container {
    margin-inline: auto;
    max-width: var(--spc-text-content);
}

.post-header {
    gap: var(--spc-6);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-ui-1);
    padding: var(--spc-16) var(--spc-8);
}

.post-title {
    text-wrap: balance;
}

.post-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--spc-4) var(--spc-8);
    border-bottom: 1px solid var(--color-ui-1);
}

.post-author {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--spc-2);
}

.post-author-avatar {
    width: var(--spc-7);
    height: var(--spc-7);
    border-radius: var(--rnd-full);
}

.post-content {
    padding: var(--spc-8);
}

[data-post] h1,
[data-post] h2,
[data-post] h3,
[data-post] h4,
[data-post] h5,
[data-post] h6 {
    padding: var(--spc-5) 0 var(--spc-4) 0;
}

[data-post] h1,
[data-post] h1 > * {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
}

[data-post] h2,
[data-post] h2 > * {
    font-size: 1.75rem !important;
    line-height: 2rem !important;
}

[data-post] h3,
[data-post] h3 > * {
    font-size: 1.5rem !important;
    line-height: 1.75rem !important;
}

[data-post] p {
    padding-block: var(--spc-2);
    line-height: 1.7rem !important;
}

[data-post] code {
    padding-block: var(--spc-2);
    font-family: var(--font-family-mono);
}

[data-post] hr {
    border-color: var(--color-ui-1);
    border-width: 1px 0 0 0;
    margin-block: var(--spc-4);
}

[data-post] ul,
[data-post] ol {
    display: flex;
    flex-direction: column;
    margin-left: var(--spc-8);
    margin-block: var(--spc-2);
    gap: var(--spc-1);
}

[data-post] ul {
    list-style-type: disc;
}

[data-post] ol {
    list-style-type: decimal;
}

[data-post] li {
    line-height: 1.7rem !important;
}

[data-post] img {
    display: block;
    max-height: 600px;
    width: auto;
    height: 100%;
    margin: var(--spc-4) auto;
}

[data-post] p > code {
    background-color: var(--color-bg-2);
    padding: var(--spc-1);
    border-radius: var(--rnd-2);
}

[data-post] a {
    text-decoration: underline;
}
