.container {
    align-items: center;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.container * h2 {
    text-align: center;
}

.contentContainer {
    padding: 4rem 2rem;
    max-width: 1000px;
    width: 100%;
}

.contentContainer span {
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .contentContainer {
        padding: 8rem 2rem;
        transform: translateY(-12px); /* Optically Center Copy in Hero */
    }
}
