.container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 500px;
}

.infoContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.copyContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.copyContainerTop {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.copy {
    text-align: center;
}

.gameArt {
    border-color: var(--primary-border-color);
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    display: block;
    height: auto;
}

.bottomContainer {
    align-items: center;
    border-top: 1px solid var(--primary-border-color);
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 1rem;
}

.recentlyGamedContainer {
    display: flex;
    gap: 0.5rem;
}

.gameTimeContainer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 768px) {
    .gameTimeContainer {
        justify-content: flex-start;
    }
}

.gameTime {
    display: flex;
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-border-color);
    flex-direction: column;
    padding: 1rem;
}

.gameTime > p:first-child {
    margin-bottom: 0.5rem;
    font-weight: 500;
}
