.container > h2 {
    display: block;
    margin: 1rem 0;
}

.container > p {
    display: block;
    margin: 1rem 0 0.5rem 0;
}

.albumArt {
    border-color: var(--primary-border-color);
    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    display: block;
    height: auto;
    width: 100%;
}
