.container {
    border-radius: 2.5rem;
    border-color: var(--primary-border-color);
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 1.5rem;
    max-width: 400px; /* temp */
    transform: scale(1);
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.container:hover {
    transform: scale(1.01);
    background-color: var(--secondary-background-color);
}

.container > h2 {
    display: block;
    margin: 1rem 0;
}

.container > p {
    display: block;
    margin: 1rem 0 0.5rem 0;
}

.albumArt {
    border-color: var(--primary-border-color);
    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    display: block;
    height: auto;
    width: 100%;
}
