.reading-container {
    max-width: 700px;
    margin: var(--spc-4) auto 0 auto;
    position: relative;
    width: var(--spc-full);
}

.reading-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--spc-1);
}

.reading-list-item {
    width: var(--spc-full);
}

.reading-list-item-button {
    appearance: none;
    align-items: center;
    border: none;
    background-color: transparent;
    display: flex;
    border-radius: var(--rnd-4);
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spc-4);
    padding: var(--spc-2) var(--spc-3);
    margin-left: calc(var(--spc-3) * -1);
    width: var(--spc-full);
    text-decoration: none;
}

.reading-list-item-button:hover {
    background-color: var(--color-surface-2);
    text-decoration: none;
}

[data-reading-list-item-status='open'] .reading-list-item-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color-surface-2);
    border-bottom: 1px solid var(--color-border);
}

.reading-list-item-content {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    pointer-events: none;
    margin-right: var(--spc-3);
    z-index: -1;
    overflow: hidden;
}

[data-reading-list-item-status='open'] .reading-list-item-content {
    background-color: var(--color-surface-2);
    border-bottom-left-radius: var(--rnd-4);
    border-bottom-right-radius: var(--rnd-4);
    margin-left: calc(var(--spc-3) * -1);
    max-width: 700px;
    z-index: 1;
    pointer-events: auto;
    transition: max-height 1.3s ease-in-out;
    max-height: 9999px;
}

[data-reading-list-item-status='open'] .reading-list-book-info {
    display: flex;
}

[data-reading-list-item-status='closed'] .reading-list-book-info {
    display: none;
}

.reading-list-book-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--spc-8);
    margin: 0 auto;
    padding: var(--spc-8);
    max-width: 500px;
    width: calc(var(--spc-full) - var(--spc-16));
}

.reading-list-book-cover {
    display: block;
    max-width: 130px;
    width: 100%;
    height: auto;
}

.reading-list-book-info-content {
    display: flex;
    flex-direction: column;
}

.reading-list-book-info-description {
    margin-top: var(--spc-2);
    text-wrap: balance;
}

.reading-list-book-link {
    display: flex;
    flex-direction: row;
    gap: var(--spc-2);
    align-items: center;
    margin-top: var(--spc-6);
}

/* https://literal.club/kpm/book/shoe-dog-iraoz */
