.navigation--menu-button {
    align-items: center;
    appearance: none;
    background-color: var(--color-surface-1);
    border: none;
    border-radius: var(--rnd-4) 0 0 var(--rnd-4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: var(--spc-4);
    position: fixed;
    right: 0;
    top: calc(var(--spc-4) + 1);
    height: calc(var(--navigation-button-size) - 2px);
    width: calc(var(--navigation-button-size) - 2px);
    z-index: var(--z-index-navigation);
}

.navigation--menu-button:hover {
    background-color: var(--color-surface-2);
}

.navigation--menu-container {
    background-color: var(--color-surface-1);
    border-color: var(--color-border);
    border-style: solid;
    border-width: var(--spc-px);
    position: fixed;
    right: 0;
    top: var(--spc-4);
    transform-origin: right;
    z-index: var(--z-index-navigation);
}

.navigation--menu-content {
    padding: var(--spc-4);
}

.navigation--menu-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: calc(var(--z-index-navigation) - 4);
}
