@keyframes slideUp {
    0% {
        opacity: 0;
        bottom: -10rem;
    }
    100% {
        opacity: 1;
        bottom: 1.5rem;
    }
}
.container {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 0.3s ease-in-out;
    z-index: 50;
}

.floatingButton {
    background-color: white;
    border: 1px solid var(--scrollbar-color);
    border-radius: 2rem;
    cursor: pointer;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 50;
    max-width: calc(100vw - 2rem);

}

.floatingButton:hover, .floatingButton:focus {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
}

.floatingButtonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.floatingButtonContainer > * {
    flex-grow: 1;
}

.floatingButtonContainer > span {
    padding-right: 0.5rem;
}

.chevron[data-popover-state="true"]  {
    transform: rotate(180deg)
}

.floatingButtonText {
    color: var(--primary-font-color);
    font-size: 16px;
}

.currentSectionText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    font-size: 1rem;
    color: var(--secondary-font-color);
}

.chevron {
    transition: transform 0.2s ease-in-out;
}

.flip {
    transform: rotate(180deg)
}

.content {
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border: 1px solid var(--scrollbar-color);
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    transform-origin: bottom;
    transition: all ease-in-out 1s;
    position: relative;
    z-index: 49;
}

.headingsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.headingsList:not(:first-child) {
    margin-left: 1.5rem;
    padding: 0.25rem 0;
}

.headingsListItem {
    position: relative;
    padding: 0.5rem 0;
}


.headingsListItem[data-active="true"] >  .headingsListAnchor{
    color: var(--primary-color) !important;
}

.headingsListAnchor:hover, .headingsListAnchor:focus {
    color: var(--primary-color) !important;
}

.headingsListAnchor {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.2s ease-in-out;
}

.headingsListItem .headingsListAnchor {
    font-size: 1rem;
    color: var(--primary-font-color);
    font-weight: 500;
}
.headingsListItem[data-child="true"] .headingsListAnchor {
    font-size: 1rem;
    color: var(--secondary-font-color);
}

.headingsListItem[data-child="true"]::after {
    content: '';
    background-color: var(--tertiary-background-color);
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.headingsListItem[data-child="true"]::before {
    content: '';
    background-color: var(--tertiary-background-color);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
}

.headingsListItem[data-child="true"]:last-child {
    padding-bottom: 0;
}

.headingsListItem[data-child="true"]:last-child::before {
    content: '';
    background-color: var(--tertiary-background-color);
    width: 1px;
    height: calc(50% + 0.25rem);
    position: absolute;
    top: 0;
    left: -20px;
}
.headingsListItem[data-child="true"]:last-child::after {
    content: '';
    background-color: var(--tertiary-background-color);
    width: 10px;
    height: 1px;
    position: absolute;
    top: calc(50% + 0.25rem);
    left: -20px;
    transform: translateY(-50%);
}
