.post-list-container {
    padding: 0 var(--spc-2);
    width: calc(var(--spc-full) + var(--spc-5));
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: var(--spc-1);
    list-style: none;
    margin-left: calc(var(--spc-5) * -1);
}

.post-list-item {
    width: var(--spc-full);
}

.post-list-item-link {
    align-items: center;
    border-radius: var(--rnd-4);
    display: inline-flex;
    gap: var(--spc-4);
    justify-content: space-between;
    padding: var(--spc-2) var(--spc-3);
    position: relative;
    text-decoration: none;
    width: var(--spc-full);
}

.post-list-item-link:hover,
.post-list-item-link:focus {
    background-color: var(--color-surface-2);
    text-decoration: none;
}

.post-list-icon-container {
    align-items: center;
    background-color: var(--color-accent);
    border-radius: var(--rnd-2);
    display: flex;
    height: var(--spc-6);
    justify-content: center;
    left: var(--spc-2);
    opacity: 0;
    position: absolute;
    transform-origin: left center;
    transform: scaleX(0);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    width: var(--spc-6);
}

.post-list-item-link:hover .post-list-icon-container,
.post-list-item-link:focus .post-list-icon-container {
    opacity: 1;
    transform: scaleX(1);
}

.post-list-item-title {
    transition: margin-left 0.2s ease-in-out;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-list-item-link:hover .post-list-item-title,
.post-list-item-link:focus .post-list-item-title {
    margin-left: var(--spc-8);
}

.post-list-item-date {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

.post-list-icon {
    fill: var(--color-surface-1);
    opacity: 0;
    opacity: 0;
    transform-origin: left;
    transform: scale(0);
    transition-delay: 0.15s;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.post-list-item-link:hover .post-list-icon,
.post-list-item-link:focus .post-list-icon {
    opacity: 1;
    transform: scale(1);
}
